<!doctype html>
<html>
<head>
<title>zithr</title>
<script>
  var zither;
  var svgdoc;
  var svg;

  window.onload=function(){
      zither = document.getElementById("zither");
      svgdoc = zither.contentDocument;
      svg = svgdoc.getElementById("svg2");
      svgdoc.getElementById("c1").setAttribute("style","stroke:#00ff00");
   };
</script>
<style>
  zither{
  };
</style>
</head>
<body>
  <center>
  <object id="zither" style="height=250mm; width=200mm" data="../static/zither-final.svg" type="image/svg+xml"></object>
  </center>
</body>
</html>
